/* IMPORTS */

@import "compass";
@import "susy";

/* FONTS */

@include font-face("TitilliumText22LThin", font-files("../fonts/TitilliumText22L001-webfont.eot", "../fonts/TitilliumText22L001-webfont.woff", "../fonts/TitilliumText22L001-webfont.ttf", "../fonts/TitilliumText22L001-webfont.svg#TitilliumText22LThin"));
@include font-face("TitilliumText22LLight", font-files("../fonts/TitilliumText22L002-webfont.eot", "../fonts/TitilliumText22L002-webfont.woff", "../fonts/TitilliumText22L001-webfont.ttf", "../fonts/TitilliumText22L002-webfont.svg#TitilliumText22LThin"));
@include font-face("TitilliumText22LRegular", font-files("../fonts/TitilliumText22L003-webfont.eot", "../fonts/TitilliumText22L003-webfont.woff", "../fonts/TitilliumText22L003-webfont.ttf", "../fonts/TitilliumText22L003-webfont.svg#TitilliumText22LThin"));
@include font-face("TitilliumText22LMedium", font-files("../fonts/TitilliumText22L004-webfont.eot", "../fonts/TitilliumText22L004-webfont.woff", "../fonts/TitilliumText22L004-webfont.ttf", "../fonts/TitilliumText22L004-webfont.svg#TitilliumText22LThin"));
@include font-face("TitilliumText22LBold", font-files("../fonts/TitilliumText22L005-webfont.eot", "../fonts/TitilliumText22L005-webfont.woff", "../fonts/TitilliumText22L005-webfont.ttf", "../fonts/TitilliumText22L005-webfont.svg#TitilliumText22LThin"));
@include font-face("TitilliumText22LXBold", font-files("../fonts/TitilliumText22L006-webfont.eot", "../fonts/TitilliumText22L006-webfont.woff", "../fonts/TitilliumText22L006-webfont.ttf", "../fonts/TitilliumText22L006-webfont.svg#TitilliumText22LThin"));

/* MIXINS */

@mixin selfclear {
  display: inline-block;
  &:after {
    content: ".";
  	display: block;
  	height: 0;
  	clear: both;
  	visibility: hidden;
  }
}

/* LAYOUT */

html, body, #main { height: 100%; }

body > #main { height: auto; min-height: 100%; }

* html .clearfix { height: 1%; }

body {
  @include global-reset;
  background: #f5f5f5 url("../images/bg-paper.png");
  color: #7282a7;
  font-family: "TitilliumText22LRegular", sans-serif;
  line-height: 130%;
  margin: 0;
}

.wrapper {
  @include container;
}

header {
  background: #fff;
  color: #000;
  h1 {
    font-size: 30px;
    padding-top: 35px;
  }
  h2 {
    font-family: "TitilliumText22LThin";
    font-size: 16px;
  }
  .logo {
    float: left;
    margin: 20px 20px 20px 0;
  }
  nav {
    background: #475366;
    border-top: 2px solid #e0e7f9;
    ul {
      height: 30px;
      margin-top: 15px;
      li {
        display: inline;
        font-family: "TitilliumText22LBold";
        font-size: 14px;
        margin-right: 1.2em;
        text-transform: uppercase;
        a {
          color: #e4e5e8;
        }
      }
    }
  }
}

.intro {
  background: #10151d url("../images/bg-intro.png") center no-repeat;
  padding: 40px 0;
  .overview {
    @include columns(8);
    h2 {
      color: #fff;
      font-family: "TitilliumText22LBold";
      font-size: 32px;
      line-height: 100%;

    }
    .quote {
      color: #abbde7;
      font-family: "Georgia", serif;
      font-size: 24px;
      font-style: italic;
      margin-top: 60px;
    }
    .source {
      margin-top: 15px;
      text-transform: uppercase;
    }
  }
  #video-preview {
    @include columns(4);
    @include border-radius(5px);
    border: 2px solid #626f8e;
    position: relative;
    .video-caption {
      position: absolute;
      top: 237px;
      text-align: center;
      width: 100%;
    }
  }
}

a:hover#video-preview {
  color: #fff;
}

.main-content {
  @include columns(8);
  @include selfclear;
  font-size: 0.8em;
  margin-top: 40px;
  h3 {
    clear: both;
    font-family: "TitilliumText22LBold";
    font-size: 26px;
    margin: 40px 0 20px 0;
    line-height: 100%;
  }
  h4 {
    font-family: "TitilliumText22LThin";
    font-size: 20px;
    margin-bottom: 10px;
  }
  .features-left {
    @include columns(5);
  }
  .features-right {
    @include columns(5);
    @include prefix(2);
  }
  ul {
    margin-top: 10px;
    li {
      list-style-type: disc;
    }
  }
  .more {
    float: right;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .testimonial {
    @include columns(6);
    @include suffix(1);
    margin-bottom: 20px;
    padding: 20px 0;
    position: relative;
    .avatar {
      @include box-shadow(#ccc 0 0 10px);
      border: 5px solid #fff;
      float: left;
      margin-right: 10px;
    }
  }
}

.sidebar {
  @include columns(3);
  @include prefix(1);
  margin-top: 70px;
  .callout {
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 0 #fff, 0 0 6px RGBA(30,40,55,.08));
    background: #f3f3f3;
    border: 1px solid RGBA(22,30,44,.15);
    color: #666;
    font-size: 0.8em;
    margin-bottom: 20px;
    padding: 20px;
  }
  h5 {
    color: #7282a7;
    font-family: "TitilliumText22LBold";
    font-size: 14px;
    margin-bottom: 10px;
  }
}

footer {
  background-color: #475366;
  border-top: 2px solid #ccdbff;
  color: #fff;
  position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear: both;
  .meta {
    @include columns(3);
    padding-top: 50px;
    h1 {
      font-size: 28px;
      margin-bottom: 10px;
    }
    p {
      font-family: "TitilliumText22LThin";
      font-size: 0.8em;
    }
  }
  .contents {
    @include columns(4);
    @include prefix(1);
    padding-top: 50px;
    ul {
      float: left;
      margin-right: 70px;
      li {
        font-size: 0.8em;
      }
    }
  }
  .social {
    @include columns(4);
    padding-top: 50px;
    .icons {
      float: left;
      width: 20%;
      img {
        margin-bottom: 15px;
      }
      a {
        @include opacity(0.5);
      }
      a:hover {
        @include opacity(1.0);
      }
    }
  }
  a {
    color: #b5c4ea;
  }
  a:hover {
    color: #fff;
  }
}

/* ANCHORS */

a {
  color: #9c6ad2;
  text-decoration: none;
}

a:hover {
  color: #000;
}

/* BUBBLES! */

.quote-bubble {
  @include border-radius(10px);
  @include box-shadow(0 0 6px RGBA(30,40,55,.08));
  background: #f3f3f3;
  border: 1px solid RGBA(38,50,70,.15);
  margin-left: 10px;
  padding: 15px;
  position: relative;
  width: 50%;
  float: left;
}

.quote-bubble:before {
  background-image: url("/images/quote-bubble-arrow.png");
  width: 31px;
  height: 23px;
  position: absolute;
  left: -31px;
  top: 80px;
  content: "";
}

.twitter-bubble {
  @include border-radius(10px);
  background: #364154;
  color: #fff;
  float: right;
  padding: 15px;
  position: relative;
  width: 70%;
  p {
    font-size: 0.8em;
  }
}

.twitter-bubble:before {
  border-color: transparent #364154;
  border-style: solid;
  content: "";
  display: block;
  position: absolute;
  top: 53px;
  left: -20px;
  bottom: auto;
  border-width: 10px 20px 10px 0;
  width: 0; 
}

/* BUTTONS! */

.grey-button {
  @include background-image(linear-gradient(center top, #e7eaf1, #e7eaf1));
  @include border-radius(6px);
  @include single-box-shadow(#ffffff, 0px 1px 0px 0px, true);
	background-color: #e7eaf1;
	border: 1px solid #c1c6dc;
	color: #7282a7;
	display: inline-block;
	font-size: 15px;
	margin-top: 20px;
	padding: 0.6em 1em 0.4em 1em;
	text-shadow: 1px 1px 0px #ffffff;
}
.grey-button:hover {
  @include background-image(linear-gradient(center top, #e7eaf1, #e7eaf1));
	background-color: #e7eaf1;
}
.grey-button:active {
	position: relative;
	top: 1px;
}

.purple-button {
  @include background-image(linear-gradient(center top, #bfa8d9, #b39dcb));
  @include border-radius(6px);
  @include single-box-shadow(#ccbadf, 0px 1px 0px 0px, true);
	background-color: #bfa8d9;
	border: 1px solid #7c6496;
	color: #7c6496;
	display: inline-block;
	font-size: 15px;
	margin-top: 10px;
	padding: 0.6em 1em 0.4em 1em;
	text-shadow: 1px 1px 0px #ccbadf;
}
.purple-button:hover {
  @include background-image(linear-gradient(center top, #b39dcb, #bfa8d9));
	background-color: #b39dcb;
}
.purple-button:active {
	position: relative;
	top: 1px;
}

.get-started-button {
  @include background-image(linear-gradient(center top, #b8d243, #acc43f));
  @include border-radius(6px);
  @include single-box-shadow(#d8e561, 0px 1px 0px 0px, true);
	background-color: #b8d243;
	border:1px solid  #d6e789;
	color: #161e29;
	display: inline-block;
	font-size: 28px;
	margin-top: 20px;
	padding: 0.6em 1em 0.4em 1em;
	text-shadow: 1px 1px 0px #d8e561;
}
.get-started-button:hover {
  @include background-image(linear-gradient(center top, #acc43f, #b8d243));
	background-color: #acc43f;
}
.get-started-button:active {
	position: relative;
	top: 1px;
}

.github-button {
  @include background-image(linear-gradient(center top, #1f2c3f, #1d293a));
  @include border-radius(6px);
  @include single-box-shadow(#1f2c3f, 0px 1px 0px 0px, true);
	background-color: #1f2c3f;
	border: 1px solid #2f3b4d;
	color: #6b7482;
	display: inline-block;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 0.5em 1.0em;
	text-shadow: 1px 1px 0px #080b0f;
	img {
	  margin-right: 10px;
	  vertical-align: bottom;
	}
}
.github-button:hover {
	@include background-image(linear-gradient(center top, #1d293a, #1f2c3f));
	background-color: #1d293a;
	color: #ccc;
}
.github-button:active {
	position: relative;
	top: 1px;
}

// VIDEO STUFF
.apple_overlay {
  @include border-radius(4px);
  @include box-shadow(0 1px 12px 5px rgba(0, 0, 0, 0.35));
  background: #eee url(/images/non.png);
  display: none;
  width: 560px;
  height: 315px;
  padding: 8px;
}